@model dynamic

@{
    ViewBag.Title = "Calculator";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>
<h3>Wynik obliczeń: @ViewBag.X @ViewBag.Operator @ViewBag.Y = @ViewBag.Result</h3>
// 2 + 3 = 5
